<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2>Enter the Form</h2>
<form th:action="@{/register}" th:method="post" th:object="${userForm}">

    <label for="employee_id">Employee ID</label>
    <input type="text" th:field="*{employee_id}" id="employee_id">

    <label for="first_name">First Name</label>
    <input type="text" th:field="*{first_name}" id="first_name">

    <label for="last_name">Last Name</label>
    <input type="text" th:field="*{last_name}" id="last_name">

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">

    <label for="dob">DOB</label>
    <input type="date" th:field="*{dob}" id="dob">

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">

    <input type="submit" value="Submit">
</form>
</body>
</html>
